<!-- begin:sidebar -->
<div class="col-md-3 col-md-pull-9 sidebar">
    <div class="widget widget-white">
        <div class="widget-header">
            <h3>Advance Search</h3>
        </div>
        <form role="form" class="advance-search">
            <!--<div class="btn-group" >-->
                <!--<label class="btn btn-success">-->
                    <!--<input type="radio" ng-model="vm.filterCritera.serviceType"  class="hideBulletRadio" value="RENT" > For Rent-->
                <!--</label>-->
                <!--<label class="btn btn-success">-->
                    <!--<input type="radio" ng-model="vm.filterCritera.serviceType" class="hideBulletRadio" value="SALE"> For Sale-->
                <!--</label>-->
                <!--<label class="btn btn-success">-->
                    <!--<input type="radio" ng-model="vm.filterCritera.serviceType" class="hideBulletRadio" value="RENT_AND_SALE"> Rent & Sale-->
                <!--</label>-->
            <!--</div>-->
            <!--{{vm.filterCritera}}-->
            <div class="form-group">
                <label for="location">Location</label>

                <input type="text" class="form-control" ng-model="vm.filterCritera.location" placeholder="Location">
            </div>

            <div class="form-group">
                <label for="type">Property Type</label>
                <select class="form-control">
                    <option>Office</option>
                    <option>Shop</option>
                    <option>Villa</option>
                    <option>Apartment</option>
                    <option>Single Family Home</option>
                </select>
            </div>

            <div class="form-group">
                <label for="serviceType">Service Type</label>
                <select class="form-control" ng-model="vm.filterCritera.serviceType">
                    <option value="RENT">RENT</option>
                    <option value="SALE">SALE</option>
                    <option value="RENT_AND_SALE">RENT_AND_SALE</option>
                </select>
            </div>

            <div class="form-group">
                <label for="buildingType">Building Type</label>
                <select class="form-control" ng-model="vm.filterCritera.buildingType">
                    <option value="HOUSE">HOUSE</option>
                    <option value="FLAT">FLAT</option>
                    <option value="STUDIO">STUDIO</option>
                </select>
            </div>

            <div class="form-group">
                <label for="furnished">Furnished</label>
                <select class="form-control" ng-model="vm.filterCritera.furnished">
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
            </div>
            <div class="form-group">
                <label for="pool">Pool</label>
                <select class="form-control" ng-model="vm.filterCritera.pool">
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
            </div>
            <div class="form-group">
                <label for="garage">Garage</label>
                <select class="form-control" ng-model="vm.filterCritera.garage">
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
            </div>
            <div class="form-group">
                <label for="ac">AC</label>
                <select class="form-control" ng-model="vm.filterCritera.ac">
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
            </div>
            <div class="form-group">
                <label for="elevator">Elevator</label>
                <select class="form-control" ng-model="vm.filterCritera.elevator">
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
            </div>
            <div class="form-group">
                <label for="terrace">Terrace</label>
                <select class="form-control" ng-model="vm.filterCritera.terrace">
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
            </div>
            <div class="form-group">
                <label for="beds">Beds</label>
                <select class="form-control" ng-model="vm.filterCritera.numberBedroom">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <div class="form-group">
                <label for="baths">Baths</label>
                <select class="form-control" ng-model="vm.filterCritera.numberWc">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <div class="form-group">
                <label for="min-price">Min Price</label>
                <input type="number" pattern="\d*" min="0" class="form-control" ng-model="vm.filterCritera.minPrice">
            </div>
            <div class="form-group">
                <label for="max-price">Max Price</label>
                <input type="number" pattern="\d*" min="0" class="form-control" ng-model="vm.filterCritera.maxPrice">
            </div>
            <div class="form-group">
                <label for="min-area">Min Area</label>
                <input type="number" pattern="\d*" min="0" class="form-control" ng-model="vm.filterCritera.minSize">
            </div>
            <div class="form-group">
                <label for="max-area">Max Area</label>
                <input type="number" pattern="\d*" min="0" class="form-control" ng-model="vm.filterCritera.maxSize">
            </div>
            <input type="submit" name="submit" value="Search" class="btn btn-success btn-block" ng-click="vm.searchByFilters()">

        </form>
    </div>
    <!-- break -->
    <div class="widget widget-sidebar widget-white">
        <div class="widget-header">
            <h3>Property Type</h3>
        </div>
        <ul class="list-check">
            <li><a href="#">Office</a>&nbsp;(18)</li>
            <li><a href="#">Office</a>&nbsp;(43)</li>
            <li><a href="#">Shop</a>&nbsp;(31)</li>
            <li><a href="#">Villa</a>&nbsp;(52)</li>
            <li><a href="#">Apartment</a>&nbsp;(8)</li>
            <li><a href="#">Single Family Home</a>&nbsp;(11)</li>
        </ul>
    </div>
    <!-- break -->
</div>
<!-- end:sidebar -->
