<!-- begin:sidebar -->
<div class="col-md-3 col-md-pull-9 sidebar">
    <div class="widget widget-white">
        <div class="widget-header">
            <h3 data-translate="assessoriaTorrellesApp.property.sidebar.advancedSearch">ADVANCED SEARCH</h3>
        </div>
        <form role="form" class="advance-search">
            <!--<div class="btn-group" >-->
                <!--<label class="btn btn-success">-->
                    <!--<input type="radio" ng-model="vm.filterCritera.serviceType"  class="hideBulletRadio" value="RENT" > For Rent-->
                <!--</label>-->
                <!--<label class="btn btn-success">-->
                    <!--<input type="radio" ng-model="vm.filterCritera.serviceType" class="hideBulletRadio" value="SALE"> For Sale-->
                <!--</label>-->
                <!--<label class="btn btn-success">-->
                    <!--<input type="radio" ng-model="vm.filterCritera.serviceType" class="hideBulletRadio" value="RENT_AND_SALE"> Rent & Sale-->
                <!--</label>-->
            <!--</div>-->
            <!--{{vm.filterCritera}}-->
            <div class="form-group">
                <label for="location" data-translate="assessoriaTorrellesApp.property.location">Location</label>
                <input type="text" class="form-control" ng-model="vm.filterCritera.location">
            </div>
            <!--<div class="form-group">-->
                <!--<label for="type">Property Type</label>-->
                <!--<select class="form-control">-->
                    <!--<option>Office</option>-->
                    <!--<option>Shop</option>-->
                    <!--<option>Villa</option>-->
                    <!--<option>Apartment</option>-->
                    <!--<option>Single Family Home</option>-->
                <!--</select>-->
            <!--</div>-->
            <div class="form-group">
                <label for="serviceType" data-translate="assessoriaTorrellesApp.property.serviceType">Service Type</label>
                <select class="form-control" ng-model="vm.filterCritera.serviceType">
                    <option value="RENT" data-translate="assessoriaTorrellesApp.property.ServiceType.RENT">RENT</option>
                    <option value="SALE" data-translate="assessoriaTorrellesApp.property.ServiceType.SALE">SALE</option>
                    <option value="RENT_AND_SALE" data-translate="assessoriaTorrellesApp.property.ServiceType.RENT_AND_SALE">RENT_AND_SALE</option>
                </select>
            </div>
            <div class="form-group">
                <label for="buildingType" data-translate="assessoriaTorrellesApp.property.buildingType">Building Type</label>
                <select class="form-control" ng-model="vm.filterCritera.buildingType">
                    <option value="HOUSE" data-translate="assessoriaTorrellesApp.property.BuildingType.HOUSE">HOUSE</option>
                    <option value="FLAT" data-translate="assessoriaTorrellesApp.property.BuildingType.FLAT">FLAT</option>
                    <option value="STUDIO" data-translate="assessoriaTorrellesApp.property.BuildingType.STUDIO">STUDIO</option>
                </select>
            </div>
            <div class="form-group">
                <label for="furnished"  data-translate="assessoriaTorrellesApp.property.furnished">Furnished</label>
                <select class="form-control" ng-model="vm.filterCritera.furnished">
                    <option value="true" data-translate="assessoriaTorrellesApp.property.YesNo.yes">Yes</option>
                    <option value="false" data-translate="assessoriaTorrellesApp.property.YesNo.no">No</option>
                </select>
            </div>
            <div class="form-group">
                <label for="pool" data-translate="assessoriaTorrellesApp.property.pool">Pool</label>
                <select class="form-control" ng-model="vm.filterCritera.pool">
                    <option value="true" data-translate="assessoriaTorrellesApp.property.YesNo.yes">Yes</option>
                    <option value="false" data-translate="assessoriaTorrellesApp.property.YesNo.no">No</option>
                </select>
            </div>
            <div class="form-group">
                <label for="garage" data-translate="assessoriaTorrellesApp.property.garage">Garage</label>
                <select class="form-control" ng-model="vm.filterCritera.garage">
                    <option value="true" data-translate="assessoriaTorrellesApp.property.YesNo.yes">Yes</option>
                    <option value="false" data-translate="assessoriaTorrellesApp.property.YesNo.no">No</option>
                </select>
            </div>
            <div class="form-group">
                <label for="ac" data-translate="assessoriaTorrellesApp.property.ac">AC</label>
                <select class="form-control" ng-model="vm.filterCritera.ac">
                    <option value="true" data-translate="assessoriaTorrellesApp.property.YesNo.yes">Yes</option>
                    <option value="false" data-translate="assessoriaTorrellesApp.property.YesNo.no">No</option>
                </select>
            </div>
            <div class="form-group">
                <label for="elevator" data-translate="assessoriaTorrellesApp.property.elevator">Elevator</label>
                <select class="form-control" ng-model="vm.filterCritera.elevator">
                    <option value="true" data-translate="assessoriaTorrellesApp.property.YesNo.yes">Yes</option>
                    <option value="false" data-translate="assessoriaTorrellesApp.property.YesNo.no">No</option>
                </select>
            </div>
            <div class="form-group">
                <label for="terrace" data-translate="assessoriaTorrellesApp.property.terrace">Terrace</label>
                <select class="form-control" ng-model="vm.filterCritera.terrace">
                    <option value="true" data-translate="assessoriaTorrellesApp.property.YesNo.yes">Yes</option>
                    <option value="false" data-translate="assessoriaTorrellesApp.property.YesNo.no">No</option>
                </select>
            </div>
            <div class="form-group">
                <label for="beds" data-translate="assessoriaTorrellesApp.property.numberBedroom">Beds</label>
                <select class="form-control" ng-model="vm.filterCritera.numberBedroom">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <div class="form-group">
                <label for="baths" data-translate="assessoriaTorrellesApp.property.numberWc">Baths</label>
                <select class="form-control" ng-model="vm.filterCritera.numberWc">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <div class="form-group">
                <label for="min-price" data-translate="assessoriaTorrellesApp.property.minPrice">Min Price</label>
                <input type="number" pattern="\d*" min="0" class="form-control" ng-model="vm.filterCritera.minPrice">
            </div>
            <div class="form-group">
                <label for="max-price" data-translate="assessoriaTorrellesApp.property.maxPrice">Max Price</label>
                <input type="number" pattern="\d*" min="0" class="form-control" ng-model="vm.filterCritera.maxPrice">
            </div>
            <div class="form-group">
                <label for="min-area" data-translate="assessoriaTorrellesApp.property.minArea">Min Area</label>
                <input type="number" pattern="\d*" min="0" class="form-control" ng-model="vm.filterCritera.minSize">
            </div>
            <div class="form-group">
                <label for="max-area" data-translate="assessoriaTorrellesApp.property.maxArea">Max Area</label>
                <input type="number" pattern="\d*" min="0" class="form-control" ng-model="vm.filterCritera.maxSize">
            </div>
            <input type="submit" name="submit" value="{{ 'assessoriaTorrellesApp.property.sidebar.simpleSearch' | translate }}" class="btn btn-success btn-block" ng-click="vm.searchByFilters()">
            <input type="submit" name="submit" value="{{ 'assessoriaTorrellesApp.property.sidebar.reset' | translate }}" class="btn btn-success btn-block" ng-click="vm.removeFilters()">
        </form>
    </div>
</div>
<!-- end:sidebar -->
