<div>
    <h2 data-translate="assessoriaTorrellesApp.photo.home.title">Photos</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="photo.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="assessoriaTorrellesApp.photo.home.createLabel">
                        Create new Photo
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span data-translate="assessoriaTorrellesApp.photo.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="created"><span data-translate="assessoriaTorrellesApp.photo.created">Created</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="image"><span data-translate="assessoriaTorrellesApp.photo.image">Image</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="description"><span data-translate="assessoriaTorrellesApp.photo.description">Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="url"><span data-translate="assessoriaTorrellesApp.photo.url">Url</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="property.name"><span data-translate="assessoriaTorrellesApp.photo.property">Property</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="photo in vm.photos track by photo.id">
                    <td><a ui-sref="photo-detail({id:photo.id})">{{photo.id}}</a></td>
                    <td>{{photo.name}}</td>
                    <td>{{photo.created | date:'medium'}}</td>
                    <td>
                        <a ng-if="photo.image" ng-click="vm.openFile(photo.imageContentType, photo.image)">
                            <img data-ng-src="{{'data:' + photo.imageContentType + ';base64,' + photo.image}}" style="max-height: 30px;"/>
                        </a>
                        <span ng-if="photo.image">{{photo.imageContentType}}, {{vm.byteSize(photo.image)}}</span>
                    </td>
                    <td>{{photo.description}}</td>
                    <td>{{photo.url}}</td>
                    <td>
                        <a ui-sref="property-detail({id:photo.property.id})">{{photo.property.name}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="photo-detail({id:photo.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="photo.edit({id:photo.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="photo.delete({id:photo.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
