<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="widget">
                <h3>Top Real Estate Listed</h3>
                <ul class="list-unstyled">
                    <li><a href="#">Apartments</a></li>
                    <li><a href="#">Office</a></li>
                    <li><a href="#">Bungalows</a></li>
                    <li><a href="#">Serviced Residence</a></li>
                    <li><a href="#">Villa</a></li>
                </ul>
            </div>
        </div>
        <!-- break -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="widget">
                <h3>Top Agents Listed</h3>
                <ul class="list-unstyled">
                    <li><a href="#">Lorenso</a></li>
                    <li><a href="#">Bardiman</a></li>
                    <li><a href="#">Tarjono noto boto limo</a></li>
                    <li><a href="#">Surti</a></li>
                    <li><a href="#">Ngatinem</a></li>
                </ul>
            </div>
        </div>
        <!-- break -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="widget">
                <h3>Features</h3>
                <ul class="list-unstyled">
                    <li><a href="#">My Account</a></li>
                    <li><a href="#">How To</a></li>
                    <li><a href="#">Market Trend</a></li>
                    <li><a href="#">Android App</a></li>
                    <li><a href="#">IOS App</a></li>
                </ul>
            </div>
        </div>
        <!-- break -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="widget">
                <h2>Arillo.</h2>
                <address>
                    <strong>Real estate theme.</strong><br>
                    9.5 Main Street, Jjrn Plrt Btl<br>
                    <br>
                    Telp. : +62-345678910<br>
                    Email : hello@arillo.com
                </address>
            </div>
        </div>
        <!-- break -->
    </div>
    <!-- break -->

    <!-- begin:copyright -->
    <div class="row">
        <div class="col-md-12 copyright">
            <p>Copyright &copy; 2014 Company, Inc. All Right Reserved.</p>
            <p>Theme : Arillo 1.0 Designed by <strong>avriqqlabs.</strong></p>
            <a href="#top" class="btn btn-success scroltop"><i class="fa fa-angle-up"></i></a>
            <ul class="list-inline social-links">
                <li><a href="#" class="icon-twitter" rel="tooltip" title="" data-placement="bottom" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#" class="icon-facebook" rel="tooltip" title="" data-placement="bottom" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#" class="icon-gplus" rel="tooltip" title="" data-placement="bottom" data-original-title="Gplus"><i class="fa fa-google-plus"></i></a></li>
            </ul>
        </div>
    </div>
    <!-- end:copyright -->

</div>
