<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="widget">
                <h3>Top Real Estate Listed</h3>
                <ul class="list-unstyled">
                    <li><a href="#">Apartments</a></li>
                    <li><a href="#">Office</a></li>
                    <li><a href="#">Bungalows</a></li>
                    <li><a href="#">Serviced Residence</a></li>
                    <li><a href="#">Villa</a></li>
                </ul>
            </div>
        </div>
        <!-- break -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="widget">
                <h3>{{vm.companyInfo.name}}</h3>
                <address>
                    <strong>{{vm.companyInfo.location.town}}</strong><br>
                    {{vm.companyInfo.location.province}}<br>
                    {{vm.companyInfo.location.typeOfRoad}}<br>
                    <br>
                    Telp. : {{vm.companyInfo.phone}}<br>
                    Email : {{vm.companyInfo.email}}
                </address>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
            <ng-map center="41.3579495,1.9810097" zoom="16">
                <marker position="[41.3579495, 1.9810097]" title="hello"></marker>
            </ng-map>
        </div>
        <!-- break -->
    </div>
    <!-- break -->

    <!-- begin:copyright -->
    <div class="row">
        <div class="col-md-12 copyright">
            <p data-translate="footer.copyright"></p>
            <a href="#top" class="btn btn-success scroltop"><i class="fa fa-angle-up"></i></a>
            <ul class="list-inline social-links">
                <li><a href="#" class="icon-twitter" rel="tooltip" title="" data-placement="bottom" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#" class="icon-facebook" rel="tooltip" title="" data-placement="bottom" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#" class="icon-gplus" rel="tooltip" title="" data-placement="bottom" data-original-title="Gplus"><i class="fa fa-google-plus"></i></a></li>
            </ul>
        </div>
    </div>
    <!-- end:copyright -->

</div>
