<div ng-include="'app/layouts/header/header.search.html'"></div>
    <div id="content">
        <div class="container">
            <div class="row">
                <!-- begin:article -->
                <div class="col-md-9 col-md-push-3">
                    <div class="row">
                        <div class="col-md-12 single-post">
                            <ul id="myTab" class="nav nav-tabs nav-justified">
                                <li class="active"><a go="#detail" data-toggle="tab" id="detailTab"><i class="fa fa-university" id="detailIcon"></i><span data-translate="assessoriaTorrellesApp.property.propertyDetail.detail">&nbsp; Property Detail</span></a></li>
                                <li><a go="#location" data-toggle="tab" id="locationTab" ng-click="vm.showMap()"><i class="fa fa-paper-plane-o" id="locationIcon"></i><span data-translate="assessoriaTorrellesApp.property.location">&nbsp; Property Location</span></a></li>
                            </ul>
                            <div id="myTabContent" class="tab-content">
                                <div class="tab-pane fade in active" id="detail">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h2>{{vm.property.name}}</h2>
                                        </div>
                                        <div class="col-md-6">
                                            <button type="button" class="btn btn-success btn-block" ui-sref="dashboard-property.edit({id:vm.property.id})" has-authority="ROLE_USER">Edit</button>
                                        </div>
                                        <div class="col-md-12">
                                            <div id="slider-property" class="carousel slide" data-ride="carousel" ng-if="vm.storedPhotos.length != 0">
                                                <ol class="carousel-indicators">
                                                    <li ng-repeat="x in vm.storedPhotos track by $index" data-target="#slider-property" data-slide-to="{{$index}}" ng-class="x.cover ? 'active':''">
                                                        <img data-ng-src="{{'data:' + x.imageContentType + ';base64,' + x.image}}" alt="">
                                                    </li>
                                                    <!--<li data-target="#slider-property" data-slide-to="1" class="active">-->
                                                        <!--<img src="content/img/img03.jpg" alt="">-->
                                                    <!--</li>-->
                                                    <!--<li data-target="#slider-property" data-slide-to="2">-->
                                                        <!--<img src="content/img/img04.jpg" alt="">-->
                                                    <!--</li>-->
                                                </ol>
                                                <div class="carousel-inner">
                                                    <div ng-class="x.cover ? 'item active':'item'" ng-repeat="x in vm.storedPhotos track by $index">
                                                        <img data-ng-src="{{'data:' + x.imageContentType + ';base64,' + x.image}}" alt="">
                                                    </div>
                                                    <!--<div class="item active">-->
                                                        <!--<img src="content/img/img03.jpg" alt="">-->
                                                    <!--</div>-->
                                                    <!--<div class="item">-->
                                                        <!--<img src="content/img/img04.jpg" alt="">-->
                                                    <!--</div>-->
                                                </div>
                                                <a class="left carousel-control" data-target="#slider-property" data-slide="prev">
                                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                                </a>
                                                <a class="right carousel-control" data-target="#slider-property" data-slide="next">
                                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                                </a>
                                            </div>
                                            <h3 data-translate="assessoriaTorrellesApp.property.propertyDetail.overview">Property Overview</h3>
                                            <table class="table table-bordered" id="overviewTable">
                                                <tr>
                                                    <td width="20%"><strong data-translate="assessoriaTorrellesApp.property.ref">ID</strong></td>
                                                    <td>{{vm.property.ref}}</td>
                                                </tr>
                                                <tr>
                                                    <td><strong data-translate="assessoriaTorrellesApp.property.price">Price</strong></td>
                                                    <td>{{vm.property.price}}</td>
                                                </tr>
                                                <tr>
                                                    <td><strong data-translate="assessoriaTorrellesApp.property.buildingType">Type</strong></td>
                                                    <td data-translate="{{'assessoriaTorrellesApp.property.BuildingType.' + vm.property.buildingType}}">Residential</td>
                                                </tr>
                                                <tr>
                                                    <td><strong data-translate="assessoriaTorrellesApp.property.serviceType">Contract</strong></td>
                                                    <td data-translate="{{'assessoriaTorrellesApp.property.ServiceType.' + vm.property.serviceType}}">Sale</td>
                                                </tr>
                                                <tr>
                                                    <td><strong data-translate="assessoriaTorrellesApp.property.location">Location</strong></td>
                                                    <td>{{vm.property.location.town}}</td>
                                                </tr>
                                                <tr>
                                                    <td><strong data-translate="assessoriaTorrellesApp.property.numberWc">Bathrooms</strong></td>
                                                    <td>{{vm.property.numberWc}}</td>
                                                </tr>
                                                <tr>
                                                    <td><strong  data-translate="assessoriaTorrellesApp.property.numberBedroom">Bedrooms</strong></td>
                                                    <td>{{vm.property.numberBedroom}}</td>
                                                </tr>
                                                <tr>
                                                    <td><strong data-translate="assessoriaTorrellesApp.property.area">Area</strong></td>
                                                    <td>{{vm.property.m2}}m<sup>2</sup> </td>
                                                </tr>
                                            </table>
                                            <div ng-if="vm.property.buildingType == 'HOUSE'">
                                                <h3 data-translate="assessoriaTorrellesApp.property.propertyDetail.features.featH"></h3>
                                            </div>
                                            <div ng-if="vm.property.buildingType == 'FLAT'">
                                                <h3 data-translate="assessoriaTorrellesApp.property.propertyDetail.features.featF"></h3>
                                            </div>
                                            <div ng-if="vm.property.buildingType == 'STUDIO'">
                                                <h3 data-translate="assessoriaTorrellesApp.property.propertyDetail.features.featS"></h3>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6">
                                                    <ul id="features">
                                                        <!-- start:facilitiesList -->
                                                        <div>
                                                            <div ng-if="vm.property.terrace == true">
                                                                <li class="fa fa-check"></li>
                                                            </div>
                                                            <div ng-if="vm.property.terrace != true">
                                                                <li class="fa fa-times"></li>
                                                            </div>
                                                            <span data-translate="assessoriaTorrellesApp.property.terrace">Terrace</span>
                                                        </div>

                                                        <div>
                                                            <div ng-if="vm.property.elevator == true">
                                                                <li class="fa fa-check"></li>
                                                            </div>
                                                            <div ng-if="vm.property.elevator != true">
                                                                <li class="fa fa-times"></li>
                                                            </div>
                                                            <span data-translate="assessoriaTorrellesApp.property.elevator">Elevator</span>
                                                        </div>

                                                        <div>
                                                            <div ng-if="vm.property.furnished == true">
                                                                <li class="fa fa-check"></li>
                                                            </div>
                                                            <div ng-if="vm.property.furnished != true">
                                                                <li class="fa fa-times"></li>
                                                            </div>
                                                            <span data-translate="assessoriaTorrellesApp.property.furnished">Furnished</span>
                                                        </div>

                                                        <div>
                                                            <div ng-if="vm.property.ac == true">
                                                                <li class="fa fa-check"></li>
                                                            </div>
                                                            <div ng-if="vm.property.ac != true">
                                                                <li class="fa fa-times"></li>
                                                            </div>
                                                            <span data-translate="assessoriaTorrellesApp.property.ac">Ac</span>
                                                        </div>

                                                        <div>
                                                            <div ng-if="vm.property.neartransport == true">
                                                                <li class="fa fa-check"></li>
                                                            </div>
                                                            <div ng-if="vm.property.neartransport != true">
                                                                <li class="fa fa-times"></li>
                                                            </div>
                                                            <span data-translate="assessoriaTorrellesApp.property.nearTransport">Near transport</span>
                                                        </div>

                                                        <div>
                                                            <div ng-if="vm.property.office == true">
                                                                <li class="fa fa-check"></li>
                                                            </div>
                                                            <div ng-if="vm.property.office != true">
                                                                <li class="fa fa-times"></li>
                                                            </div>
                                                            <span data-translate="assessoriaTorrellesApp.property.office">Office</span>
                                                        </div>

                                                        <div>
                                                            <div ng-if="vm.property.storage == true">
                                                                <li class="fa fa-check"></li>
                                                            </div>
                                                            <div ng-if="vm.property.storage != true">
                                                                <li class="fa fa-times"></li>
                                                            </div>
                                                            <span data-translate="assessoriaTorrellesApp.property.storage">Storage room</span>
                                                        </div>

                                                        <div>
                                                            <div ng-if="vm.property.heating == true">
                                                                <li class="fa fa-check"></li>
                                                            </div>
                                                            <div ng-if="vm.property.heating != true">
                                                                <li class="fa fa-times"></li>
                                                            </div>
                                                            <span data-translate="assessoriaTorrellesApp.property.heating">Heating</span>
                                                        </div>

                                                        <div>
                                                            <div ng-if="vm.property.pool == true">
                                                                <li class="fa fa-check"></li>
                                                            </div>
                                                            <div ng-if="vm.property.pool != true">
                                                                <li class="fa fa-times"></li>
                                                            </div>
                                                            <span data-translate="assessoriaTorrellesApp.property.pool">Pool</span>
                                                        </div>

                                                        <div>
                                                            <div ng-if="vm.property.garage == true">
                                                                <li class="fa fa-check"></li>
                                                            </div>
                                                            <div ng-if="vm.property.garage != true">
                                                                <li class="fa fa-times"></li>
                                                            </div>
                                                            <span data-translate="assessoriaTorrellesApp.property.garage">Garage</span>
                                                        </div>
                                                        <!-- end:facilitesList -->
                                                    </ul>
                                                </div>
                                            </div>
                                            <h3 data-translate="assessoriaTorrellesApp.property.propertyDetail.description">Property Description</h3>
                                            <p>{{vm.property.description}}</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- break -->
                                <div class="tab-pane fade" id="location">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div ng-if="vm.pauseLoading">
                                                Loading map...
                                            </div>
                                            <div ng-if="!vm.pauseLoading">

                                                <div map-lazy-load="https://maps.google.com/maps/api/js"
                                                     map-lazy-load-params="{{vm.googleMapsUrl}}" >
                                                    <ng-map default-style="true" center="{{vm.property.location.latitude}},{{vm.property.location.longitude}}" zoom="15">
                                                        <shape id="circle" name="circle"
                                                               stroke-color='#9E9E9E' stroke-opacity="0.8"
                                                               center="{{vm.property.location.latitude}},{{vm.property.location.longitude}}" radius="300" editable="false" >
                                                        </shape>
                                                    </ng-map>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" id="contactAgent">
                                        <div class="col-md-12">
                                            <h3 data-translate="assessoriaTorrellesApp.property.propertyDetail.contactAgent">Contact Agent</h3>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                            <form>
                                                <div class="form-group">
                                                    <input type="text" class="form-control input-lg" placeholder="{{ 'assessoriaTorrellesApp.property.propertyDetail.contactForm.name' | translate }}" ng-model="vm.contactForm.name">
                                                </div>
                                                <div class="form-group">
                                                    <input type="email" class="form-control input-lg" placeholder="{{ 'assessoriaTorrellesApp.property.propertyDetail.contactForm.mail' | translate }}" ng-model="vm.contactForm.email">
                                                </div>
                                                <div class="form-group">
                                                    <input type="text" class="form-control input-lg" placeholder="{{ 'assessoriaTorrellesApp.property.propertyDetail.contactForm.phone' | translate }}" ng-model="vm.contactForm.phone">
                                                </div>
                                                <div class="form-group">
                                                    <textarea class="form-control input-lg" rows="7">{{ 'assessoriaTorrellesApp.property.propertyDetail.contactForm.msg' | translate }} {{vm.property.ref}} !</textarea>
                                                </div>
                                                <div class="form-group">
                                                    <a class="btn btn-success btn-lg" ng-click="vm.sendRequest()" data-translate="assessoriaTorrellesApp.property.propertyDetail.contactForm.send">Send Message</a>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end:article -->
                <div ng-include="'app/layouts/sidebar/sidebar.html'"></div>
                <!-- end:sidebar -->
            </div>
        </div>
    </div>
</div>
<!-- end:content -->
