<div ng-include="'app/layouts/header/header.search.html'"></div>
<div id="content" ng-switch="vm.isAuthenticated()">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-md-push-3">
                <h2 data-translate="assessoriaTorrellesApp.property.home.title">Properties</h2>
                <!--{{vm.filterCritera.location}}-->
                <jhi-alert></jhi-alert>
                    <!-- begin:sorting -->
                    <div class="row sort">
                        <div class="col-md-4 col-sm-4 col-xs-3">
                            <a href="search.html" class="btn btn-success" ui-sref="property"><i class="fa fa-th"></i></a>
                            <a href="search_list.html" class="btn btn-default" ui-sref="property.list"><i class="fa fa-list"></i></a>
                            <!--<span>Show <strong>6</strong> of <strong>{{vm.listByFilter.length}}</strong> result.</span>-->
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-9">
                            <form class="form-inline" role="form">
                                <span data-translate="assessoriaTorrellesApp.property.sortBy.default">Sort by </span>
                                <div class="form-group">
                                    <!--<label class="sr-only" for="sortby">Sort by price: </label>-->
                                    <!--{{vm.orderCriteria.rev}}-->
                                    <!--<select class="form-control" ng-model="vm.orderCriteria.rev">-->

                                        <!--<option value="false">Price (Low &gt; High)</option>-->
                                        <!--<option value="true">Price (High &gt; Low)</option>-->
                                    <!--</select>-->
                                    <button type="button" class="btn btn-success" ng-click="vm.changeOrder('price')" data-translate="assessoriaTorrellesApp.property.sortBy.price">Price <span class="glyphicon glyphicon-euro"></span></button>
                                    <button type="button" class="btn btn-success" ng-click="vm.changeOrder('m2')" data-translate="assessoriaTorrellesApp.property.sortBy.size">Size <span><i class="fa fa-home"></i></span></button>
                                </div>
                                <span data-translate="assessoriaTorrellesApp.property.show"></span>
                                <div class="form-group">
                                    <label class="sr-only" for="show"></label>
                                    <select class="form-control" ng-model="vm.itemsPerPage" ng-change="vm.changeItemsPerPage()">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>5</option>
                                        <option>10</option>
                                        <option>20</option>
                                        <option>25</option>
                                        <option>50</option>
                                        <option>100</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                    </div>
                        <div class="row sort">
                            <div class="col-lg-12">
                                <input type="text" class="form-control" ng-model="vm.quickSearch" placeholder="{{ 'assessoriaTorrellesApp.property.quickSearch' | translate }}">
                            </div>
                        </div>
                <div class="container-fluid" ng-switch-when="true">
                    <div class="row sort">
                        <div class="col-lg-12">
                            <button class="btn btn-success btn-block"  ui-sref="dashboard-property" >
                                <span class="glyphicon glyphicon-plus"></span>
                                <span  data-translate="assessoriaTorrellesApp.property.home.createLabel">
                            </span>
                            </button>
                        </div>
                    </div>
                </div>
                    <!-- end:sorting -->
                    <!--<p>{{vm.test}}</p>-->
                    <div class="row container-realestate">
                        <!--{{vm.listByFilter}}-->
                        <div class="col-md-4 col-sm-6 col-xs-12" ng-repeat="property in vm.listByFilter | orderBy:vm.orderCriteria.criteria:vm.orderCriteria.rev | filter:vm.quickSearch track by property.id">
                            <div class="property-container">
                                <div class="property-image">
                                    <!--{{property.photos}}-->
                                    <div ng-if="!property.photo.image"  class="property-photo">
                                        <img src="http://whrealtygroup.com/wp-content/uploads/2012/04/house_for_sale1.jpg" ui-sref="property.detail({id:property.id})" class="property-photo">
                                    </div>
                                    <div ng-if="property.photo.image" class="property-photo">
                                        <img data-ng-src="{{'data:' + property.photo.imageContentType + ';base64,' + property.photo.image}}" ui-sref="property.detail({id:property.id})" class="property-photo"/>
                                    </div>
                                    <div class="property-price">
                                        <span>{{property.price}}€</span>
                                    </div>
                                    <div class="property-status">
                                        <span data-translate="{{'assessoriaTorrellesApp.property.ServiceType.' + property.serviceType}}">For Rent</span>
                                    </div>
                                </div>
                                <div class="property-features">
                                    <span><i class="fa fa-home"></i> {{property.m2}} m<sup>2</sup></span>
                                    <span><i class="fa fa-hdd-o"></i> {{property.numberBedroom}}</span>
                                    <span><i class="fa fa-male"></i> {{property.numberBedroom}}</span>
                                </div>
                                <div class="property-content">
                                    <h3><a ui-sref="property.detail({id:property.id})" data-translate="{{'assessoriaTorrellesApp.property.BuildingType.' + property.buildingType}}">{{property.buildingType}}</a> <small>{{property.town}}</small></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end:product -->
                    <!-- begin:pagination -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="text-center">
                                <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
                                <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
                            </div>
                        </div>
                    </div>
                </div>
            <div ng-include="'app/layouts/sidebar/sidebar.html'"></div>
        </div>
    </div>
</div>
