
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPropertyLabel" data-translate="assessoriaTorrellesApp.property.home.createOrEditLabel">Create or edit a Property</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.property.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.property.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="assessoriaTorrellesApp.property.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.property.name"
                    required />
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="assessoriaTorrellesApp.property.price" for="field_price">Price</label>
            <input type="number" class="form-control" name="price" id="field_price"
                    ng-model="vm.property.price"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="assessoriaTorrellesApp.property.description" for="field_description">Description</label>
                <textarea class="form-control" name="description" id="field_description"
                    ng-model="vm.property.description"  ></textarea>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="assessoriaTorrellesApp.property.buildingType" for="field_buildingType">Building Type</label>
            <select class="form-control" name="buildingType" ng-model="vm.property.buildingType" id="field_buildingType">
                <option value="HOUSE" data-translate="assessoriaTorrellesApp.BuildingType.HOUSE">HOUSE</option>
                <option value="FLAT" data-translate="assessoriaTorrellesApp.BuildingType.FLAT">FLAT</option>
                <option value="STUDIO" data-translate="assessoriaTorrellesApp.BuildingType.STUDIO">STUDIO</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="assessoriaTorrellesApp.property.serviceType" for="field_serviceType">Service Type</label>
            <select class="form-control" name="serviceType" ng-model="vm.property.serviceType" id="field_serviceType">
                <option value="RENT" data-translate="assessoriaTorrellesApp.ServiceType.RENT">RENT</option>
                <option value="SALE" data-translate="assessoriaTorrellesApp.ServiceType.SALE">SALE</option>
                <option value="RENT_AND_SALE" data-translate="assessoriaTorrellesApp.ServiceType.RENT_AND_SALE">RENT_AND_SALE</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="assessoriaTorrellesApp.property.ref" for="field_ref">Ref</label>
            <input type="text" class="form-control" name="ref" id="field_ref"
                    ng-model="vm.property.ref"
                    required />
            <div ng-show="editForm.ref.$invalid">
                <p class="help-block"
                    ng-show="editForm.ref.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="assessoriaTorrellesApp.property.visible" for="field_visible">Visible</label>
            <input type="checkbox" class="form-control" name="visible" id="field_visible"
                    ng-model="vm.property.visible"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="assessoriaTorrellesApp.property.sold" for="field_sold">Sold</label>
            <input type="checkbox" class="form-control" name="sold" id="field_sold"
                    ng-model="vm.property.sold"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="assessoriaTorrellesApp.property.terrace" for="field_terrace">Terrace</label>
            <input type="checkbox" class="form-control" name="terrace" id="field_terrace"
                    ng-model="vm.property.terrace"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="assessoriaTorrellesApp.property.m2" for="field_m2">M 2</label>
            <input type="number" class="form-control" name="m2" id="field_m2"
                    ng-model="vm.property.m2"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="assessoriaTorrellesApp.property.numberBedroom" for="field_numberBedroom">Number Bedroom</label>
            <input type="number" class="form-control" name="numberBedroom" id="field_numberBedroom"
                    ng-model="vm.property.numberBedroom"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="assessoriaTorrellesApp.property.elevator" for="field_elevator">Elevator</label>
            <input type="checkbox" class="form-control" name="elevator" id="field_elevator"
                    ng-model="vm.property.elevator"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="assessoriaTorrellesApp.property.furnished" for="field_furnished">Furnished</label>
            <input type="checkbox" class="form-control" name="furnished" id="field_furnished"
                    ng-model="vm.property.furnished"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="assessoriaTorrellesApp.property.pool" for="field_pool">Pool</label>
            <input type="checkbox" class="form-control" name="pool" id="field_pool"
                    ng-model="vm.property.pool"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="assessoriaTorrellesApp.property.garage" for="field_garage">Garage</label>
            <input type="checkbox" class="form-control" name="garage" id="field_garage"
                    ng-model="vm.property.garage"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="assessoriaTorrellesApp.property.numberWc" for="field_numberWc">Number Wc</label>
            <input type="number" class="form-control" name="numberWc" id="field_numberWc"
                    ng-model="vm.property.numberWc"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="assessoriaTorrellesApp.property.ac" for="field_ac">Ac</label>
            <input type="checkbox" class="form-control" name="ac" id="field_ac"
                    ng-model="vm.property.ac"
                     />
        </div>

        <div class="form-group">
            <label data-translate="assessoriaTorrellesApp.property.location" for="field_location">Location</label>
            <select class="form-control" id="field_location" name="location" ng-model="vm.property.location" ng-options="location as location.ref for location in vm.locations | orderBy:'id' track by location.id">
                <option value=""></option>
            </select>
        </div>
        <!-- TODO: ELIMINAR ESTE COMENTARIO PARA UNA VERSIÓN FINAL -->
        <!--<div class="form-group">-->
            <!--<label data-translaassessoriaTorrellesAppsApp.property.user" for="field_user">User</label>-->
            <!--<select class="form-control" id="field_user" name="user" ng-model="vm.property.user" ng-options="user as user.loggin for user in vm.users track by user.id">-->
                <!--<option value=""></option>-->
            <!--</select>-->
        <!--</div>-->
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
