<div ng-include="'app/layouts/header/header.search.html'"></div>
<div id="content" ng-switch="vm.isAuthenticated()">
    <div class="container">
        <div class="row">
            <div class="container-fluid" ng-switch-when="true">
                <div class="row">
                    <div class="col-xs-4 no-padding-left">
                        <button class="btn btn-primary" ui-sref="property.new" >
                            <span class="glyphicon glyphicon-plus"></span>
                            <span  data-translate="assessoriaTorrellesApp.property.home.createLabel">
                                Create new Property
                            </span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-md-9 col-md-push-3">
                <h2 data-translate="assessoriaTorrellesApp.property.home.title">Properties</h2>
                {{vm.filterCritera.location}}
                <jhi-alert></jhi-alert>
                    <!-- begin:sorting -->
                    <div class="row sort">
                        <div class="col-md-4 col-sm-4 col-xs-3">
                            <a href="search.html" class="btn btn-success"><i class="fa fa-th"></i></a>
                            <a href="search_list.html" class="btn btn-default"><i class="fa fa-list"></i></a>
                            <span>Show <strong>6</strong> of <strong>30</strong> result.</span>
                        </div>

                        <div class="col-md-8 col-sm-8 col-xs-9">
                            <form class="form-inline" role="form">
                                <span>Sort by : </span>
                                <div class="form-group">
                                    <label class="sr-only" for="sortby">Sort by : </label>
                                    <select class="form-control">
                                        <option>Most Recent</option>
                                        <option>Price (Low &gt; High)</option>
                                        <option>Price (High &gt; Low)</option>
                                        <option>Most Popular (Low &gt; High)</option>
                                    </select>
                                </div>
                                <span>Show : </span>
                                <div class="form-group">
                                    <label class="sr-only" for="show">Show : </label>
                                    <select class="form-control">
                                        <option>6</option>
                                        <option>10</option>
                                        <option>15</option>
                                        <option>20</option>
                                        <option>25</option>
                                        <option>50</option>
                                        <option>100</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- end:sorting -->

                    <div class="row container-realestate">
                        <div class="col-md-4 col-sm-6 col-xs-12" ng-repeat="property in vm.listByFilter track by property.id">
                            <div class="property-container">
                                <div class="property-image">
                                    <img src="content/img/img02.jpg" ui-sref="property-detail({id:property.id})" alt="mikha real estate theme">
                                    <div class="property-price">
                                        <span>{{property.price}}€</span>
                                    </div>
                                    <div class="property-status">
                                        <span data-translate="{{'assessoriaTorrellesApp.ServiceType.' + property.serviceType}}">For Rent</span>
                                    </div>
                                </div>
                                <div class="property-features">
                                    <span><i class="fa fa-home"></i> {{property.m2}} m<sup>2</sup></span>
                                    <span><i class="fa fa-hdd-o"></i> {{property.numberBedroom}}</span>
                                    <span><i class="fa fa-male"></i> {{property.numberBedroom}}</span>
                                </div>
                                <div class="property-content">
                                    <h3><a ui-sref="property-detail({id:property.id})" data-translate="{{'assessoriaTorrellesApp.BuildingType.' + property.buildingType}}">{{property.buildingType}}</a> <small>{{property.location.town}}</small></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end:product -->

                    <!-- begin:pagination -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="text-center">
                                <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
                                <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
                            </div>
                        </div>
                    </div>
                </div>
            <div ng-include="'app/layouts/sidebar/sidebar.html'"></div>
        </div>
    </div>
</div>
