<div>
    <div class="container">
        <div class="col-md-6">
            <h2 data-translate="settings.title" translate-values="{username: '{{vm.settingsAccount.login}}'}">User settings for [<b>{{vm.settingsAccount.login}}</b>]</h2>

            <div class="alert alert-success" ng-show="vm.success" data-translate="settings.messages.success">
                <strong>Settings saved!</strong>
            </div>

           <jhi-alert-error></jhi-alert-error>

            <form name="form" role="form" novalidate ng-submit="vm.save()" show-validation>

                <div class="form-group">
                    <label class="control-label" for="firstName" data-translate="settings.form.firstname">First Name</label>
                    <input type="text" class="form-control" id="firstName" name="firstName" placeholder="{{'settings.form.firstname.placeholder' | translate}}"
                           ng-model="vm.settingsAccount.firstName" ng-minlength=1 ng-maxlength=50 required maxlength="50">
                    <div ng-show="form.firstName.$dirty && form.firstName.$invalid">
                        <p class="help-block"
                               ng-show="form.firstName.$error.required" data-translate="settings.messages.validate.firstname.required">
                            Your first name is required.
                        </p>
                        <p class="help-block"
                               ng-show="form.firstName.$error.minlength" data-translate="settings.messages.validate.firstname.minlength">
                            Your first name is required to be at least 1 character.
                        </p>
                        <p class="help-block"
                               ng-show="form.firstName.$error.maxlength" data-translate="settings.messages.validate.firstname.maxlength">
                            Your first name cannot be longer than 50 characters.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="lastName" data-translate="settings.form.lastname">Last Name</label>
                    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="{{'settings.form.lastname.placeholder' | translate}}"
                           ng-model="vm.settingsAccount.lastName" ng-minlength=1 ng-maxlength=50 required maxlength="50">
                    <div ng-show="form.lastName.$dirty && form.lastName.$invalid">
                        <p class="help-block"
                               ng-show="form.lastName.$error.required" data-translate="settings.messages.validate.lastname.required">
                            Your last name is required.
                        </p>
                        <p class="help-block"
                               ng-show="form.lastName.$error.minlength" data-translate="settings.messages.validate.lastname.minlength">
                            Your last name is required to be at least 1 character.
                        </p>
                        <p class="help-block"
                               ng-show="form.lastName.$error.maxlength" data-translate="settings.messages.validate.lastname.maxlength">
                            Your last name cannot be longer than 50 characters.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="email" data-translate="global.form.email">E-mail</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="{{'global.form.email.placeholder' | translate}}"
                           ng-model="vm.settingsAccount.email" ng-minlength=5 ng-maxlength=100 required maxlength="100">
                </div>
                <div class="form-group">
                    <label for="langKey" data-translate="settings.form.language">Language</label>
                    <select id="langKey" name="langKey" class="form-control" ng-model="vm.settingsAccount.langKey" ng-controller="JhiLanguageController as languageVm" ng-options="code as (code | findLanguageFromKey) for code in languageVm.languages"></select>
                </div>

                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary" data-translate="settings.form.button">Save</button>
            </form>
        </div>
        <div class="col-md-6">
            <h2 data-translate="assessoriaTorrellesApp.company.home.title">Companies</h2>
            <form name="form" role="form" ng-submit="vm.saveCompany()">
                <div class="form-group">
                    <label>Id </label>
                    <input type="text" class="form-control" id="companyId" ng-model="vm.company.id" disabled>
                </div>

                <div class="form-group">
                    <label data-translate="assessoriaTorrellesApp.company.name">Name </label>
                    <input type="text" class="form-control" id="companyName" ng-model="vm.company.name">
                </div>
                <div class="form-group">
                    <label data-translate="assessoriaTorrellesApp.company.phone">Phone </label>
                    <input type="text" class="form-control" id="companyPhone" ng-model="vm.company.phone">
                </div>
                <div class="form-group">
                    <label data-translate="assessoriaTorrellesApp.company.email">Email </label>
                    <input type="email" class="form-control" id="companyEmail" ng-model="vm.company.email">
                </div>
                <div class="form-group">
                    <label data-translate="assessoriaTorrellesApp.company.cif">Cif </label>
                    <input type="text" class="form-control" id="companyCif" name="lastName" ng-model="vm.company.cif" ng-model="companyCif">
                </div>
                <!--<div class="form-group">
                    <label data-translaassessoriaTorrellesAppsApp.company.location">Location
                </div>
                <ng-map center="41.3579495,1.9810097" zoom="16">
                    <marker position="[41.3579495, 1.9810097]" title="{{vm.company.name}}"></marker>
                </ng-map>-->
                <br>
                <button type="submit"  class="btn btn-primary" data-translate="settings.form.button">Save</button>
            </form>
        </div>

    </div>

</div>
