<!-- Main Header -->
<header class="main-header">

    <!-- Logo -->
    <a ui-serf="dashboard-home" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>R</b>C</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>Real State</b>Camp</span>
        <small>v{{VERSION}}</small>
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation" ng-switch="vm.isAuthenticated()">
        <!-- Sidebar toggle button-->
        <a class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only" ng-click="vm.collapseNavbar()">Toggle navigation</span>
        </a>
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- User Account Menu -->
                <!-- Notifications Menu -->
                <li class="dropdown notifications-menu">
                    <!-- Menu toggle button -->
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-bell-o"></i>
                        <span class="label label-warning">{{vm.notifications.seen}}</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">You have {{vm.notifications.seen}} notifications</li>
                        <li>
                            <!-- Inner Menu: contains the notifications -->
                            <ul class="menu">
                                <li ng-repeat="notification in vm.notifications track by notification.id"><!-- start notification -->
                                    <a ui-sref="notification-detail({id:notification.id})">
                                        <i class="fa fa-users text-aqua"></i> {{notification.title}}
                                        <p>{{notification.content}}</p>
                                    </a>
                                </li>
                                <!-- end notification -->
                            </ul>
                        </li>
                        <li class="footer"><a ui-sref="notification">View all</a></li>
                    </ul>
                </li>
                <!-- Tasks Menu -->
                <li class="dropdown tasks-menu">
                    <!-- Menu Toggle Button -->
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-flag-o"></i>
                        <span class="label label-danger">{{vm.totalRequests}}</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">You have {{vm.totalRequests}}</li>
                        <li>
                            <!-- Inner menu: contains the tasks -->
                            <ul class="menu">
                                <li><!-- Task item -->
                                    <a ng-repeat="request in vm.requests track by request.id" ui-sref="request-detail({id:request.id})">
                                        <!-- Task title and progress text -->
                                        <h3>
                                            {{request.property.ref}}
                                        </h3>
                                            <!-- Change the css width attribute to simulate progress -->
                                        <div>
                                            {{request.name}}: {{request.comment}}
                                        </div>
                                    </a>
                                </li>
                                <!-- end task item -->
                            </ul>
                        </li>
                        <li class="footer">
                            <a ui-sref="request">View all requests</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown tasks-menu" ui-sref="home">
                    <!-- Menu Toggle Button -->
                    <a>
                        <i class="fa fa-arrow-left"></i>
                    </a>

                </li>
                <li class="dropdown user user-menu" ng-class="{active: vm.$state.includes('account')}" uib-dropdown class="dropdown pointer" ui-sref-active="active" ng-switch-when="true">
                    <!-- Menu Toggle Button -->
                    <a href="#" class="dropdown-toggle" uib-dropdown-toggle id="account-menu">
                        <span class="hidden-xs">{{vm.account.firstName}}</span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- The user image in the menu -->
                        <li class="user-header">
                            <p>
                                {{vm.account.firstName}} - <data data-translate="global.menu.account.{{vm.account.authorities[0]}}{{vm.account.authorities[1]}}"></data>
                                <small>Online</small>
                            </p>
                        </li>
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="#" class="btn btn-default btn-flat" ui-sref="settings" ng-click="vm.collapseNavbar()" data-translate="global.menu.account.settings">Profile</a>
                            </div>
                            <div class="pull-right" ui-sref-active="active">
                                <a ng-click="vm.logout()" class="btn btn-danger" id="logout" data-translate="global.menu.account.logout">Sing out</a>
                            </div>
                        </li>
                    </ul>
                </li>
                <li ui-sref-active="active" ng-switch-when="false">
                    <a href="" ng-click="vm.login()" id="login">
                        <span class="glyphicon glyphicon-log-in"></span>&nbsp;
                        <span data-translate="global.menu.account.login">Sign in</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar posFixed">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar" ng-switch="vm.isAuthenticated()">

        <!-- Sidebar user panel (optional) -->
        <div class="user-panel" style="height: 60px;">
            <div class="pull-left image">
            </div>
            <div class="pull-left info">
                <p>{{vm.account.firstName}}</p>
                <!-- Status -->
                <a><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>

        <!-- search form (Optional) -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="{{ 'dashboard.sidebar.search' | translate }}">
                <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
            </div>
        </form>
        <!-- /.search form -->

        <!-- Sidebar Menu -->
        <ul class="sidebar-menu">
            <!-- Optionally, you can add icons to the links -->
            <li ui-sref-active="active">
                <a ui-sref="dashboard-home" ng-click="vm.collapseNavbar()">
                    <i class="fa fa-home"></i>
                    <span class="hidden-sm" data-translate="global.menu.home">Home</span>
                </a>
            </li>
            <li ng-class="{active: vm.$state.includes('property')}" ng-switch-when="true" uib-dropdown class="tree-view pointer">
                <a class="dropdown-toggle" uib-dropdown-toggle href="" id="property-menu">

                        <i class="fa fa-building"></i>
                            <span class="hidden-sm" data-translate="global.menu.properties">
                                Inmuebles
                            </span>
                        <b class="caret"></b>

                </a>
                <ul class="treeview-menu">
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard-property.new" ng-click="vm.collapseNavbar()">
                            <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                            <span data-translate="">Nuevo imueble</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard-property" ng-click="vm.collapseNavbar()">
                            <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                            <span data-translate="">Buscar imueble</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard-property.list" ng-click="vm.collapseNavbar()">
                            <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                            <span data-translate="">Imuebles publicados</span>
                        </a>
                    </li>
                    <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
                </ul>
            </li>
            <li ng-class="{active: vm.$state.includes('entity')}" ng-switch-when="true" has-authority="ROLE_ADMIN" uib-dropdown class="tree-view pointer">
                <a class="dropdown-toggle" uib-dropdown-toggle href="" id="entity-menu">

                    <i class="fa fa-archive"></i>
                            <span class="hidden-sm" data-translate="global.menu.entities.main">
                                Entities
                            </span>
                        <b class="caret"></b>

                </a>
                <ul class="treeview-menu">
                    <li ui-sref-active="active">
                        <a ui-sref="company" ng-click="vm.collapseNavbar()">
                            <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                            <span data-translate="global.menu.entities.company">Company</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard-property" ng-click="vm.collapseNavbar()">
                            <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                            <span data-translate="global.menu.entities.property">Property</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="location" ng-click="vm.collapseNavbar()">
                            <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                            <span data-translate="global.menu.entities.location">Location</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="photo" ng-click="vm.collapseNavbar()">
                            <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                            <span data-translate="global.menu.entities.photo">Photo</span>
                        </a>
                    </li>
                    <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
                </ul>
            </li>
            <li ng-class="{active: vm.$state.includes('admin')}"  ng-switch-when="true" has-authority="ROLE_ADMIN" uib-dropdown class="treeview">
                <a class="dropdown-toggle" uib-dropdown-toggle href="" id="admin-menu">

                    <i class="fa fa-terminal"></i>
                            <span class="hidden-sm" data-translate="global.menu.admin.main">Administration</span>
                            <b class="caret"></b>

                </a>
                <ul class="treeview-menu">
                    <li ui-sref-active="active">
                        <a ui-sref="user-management" ng-click="vm.collapseNavbar()">
                            <span class="glyphicon glyphicon-user"></span>
                            <span data-translate="global.menu.admin.userManagement">User management</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="jhi-tracker" ng-click="vm.collapseNavbar()">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;
                            <span data-translate="global.menu.admin.tracker">User tracker</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="jhi-metrics" ng-click="vm.collapseNavbar()">
                            <span class="glyphicon glyphicon-dashboard"></span>&nbsp;
                            <span data-translate="global.menu.admin.metrics">Metrics</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="jhi-health" ng-click="vm.collapseNavbar()">
                            <span class="glyphicon glyphicon-heart"></span>&nbsp;
                            <span data-translate="global.menu.admin.health">Health</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="jhi-configuration" ng-click="vm.collapseNavbar()">
                            <span class="glyphicon glyphicon-list-alt"></span>&nbsp;
                            <span data-translate="global.menu.admin.configuration">Configuration</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="audits" ng-click="vm.collapseNavbar()">
                            <span class="glyphicon glyphicon-bell"></span>&nbsp;
                            <span data-translate="global.menu.admin.audits">Audits</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="logs" ng-click="vm.collapseNavbar()">
                            <span class="glyphicon glyphicon-tasks"></span>&nbsp;
                            <span data-translate="global.menu.admin.logs">Logs</span>
                        </a>
                    </li>
                    <li ng-show="vm.swaggerEnabled" ui-sref-active="active">
                        <a ui-sref="docs" ng-click="vm.collapseNavbar()">
                            <span class="glyphicon glyphicon-book"></span>&nbsp;
                            <span data-translate="global.menu.admin.apidocs">API</span>
                        </a>
                    </li>
                    <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
                </ul>
            </li>
            <li ui-sref-active="active" uib-dropdown class="tree-view pointer" ng-controller="JhiLanguageController as languageVm">
                <a class="dropdown-toggle" uib-dropdown-toggle href="" ng-if="languageVm.languages.length > 1">

                    <i class="fa fa-globe"></i>
                            <span class="hidden-sm" data-translate="global.menu.language"> Language</span>
                            <b class="caret"></b>

                </a>
                <ul class="treeview-menu" ng-if="languageVm.languages.length > 1">
                    <li active-menu="{{language}}" ng-repeat="language in languageVm.languages">
                        <a href="" ng-click="languageVm.changeLanguage(language);vm.collapseNavbar();">{{language | findLanguageFromKey}}</a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>
