<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 data-translate="assessoriaTorrellesApp.notification.home.title">
            Mailbox
            <small>13 new messages</small>
        </h1>
        <div ncy-breadcrumb></div>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-3">

                <div class="box box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">Carpetas</h3>

                        <div class="box-tools">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body no-padding">
                        <ul class="nav nav-pills nav-stacked">
                            <li><a ui-sref="notification" ><i class="fa fa-inbox" ></i> Notifications
                                <span class="label label-primary pull-right">{{vm.notifications.seen}}</span></a></li>
                            <li><a ui-sref="request" ><i class="fa fa-envelope-o"></i> Solicitudes</a></li>
                        </ul>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
            <div class="col-md-9">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title" data-translate="assessoriaTorrellesApp.notification.home.title">Inbox</h3>

                        <!--<div class="box-tools pull-right">
                            <div class="has-feedback">
                                <input type="text" class="form-control input-sm" placeholder="Search Mail">
                                <span class="glyphicon glyphicon-search form-control-feedback"></span>
                            </div>
                        </div>-->
                        <!-- /.box-tools -->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding">
                        <div class="mailbox-controls">
                            <!-- Check all button -->
                            <input type="checkbox" class="btn btn-default btn-sm" ng-click="vm.toggleAll()" ng-model="vm.isAllSelected">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-sm" ng-click="vm.deleteNotifications()"><i class="fa fa-trash-o"></i></button>
                                <button type="button" class="btn btn-default btn-sm" ng-click="vm.setUnReadNotifications()"><i class="fa fa-envelope-o"></i></button>
                                <button type="button" class="btn btn-default btn-sm" ng-click="vm.setReadNotifications()"><i class="fa fa-envelope"></i></button>
                            </div>
                            <!-- /.btn-group -->
                            <button type="button" class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
                            <div class="pull-right">
                                1-50/200
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i></button>
                                    <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i></button>
                                </div>
                                <!-- /.btn-group -->
                            </div>
                            <!-- /.pull-right -->
                        </div>
                        <div class="table-responsive mailbox-messages">
                            <table class="table table-hover table-striped">
                                <thead>
                                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                                    <th jh-sort-by="title"><span data-translate="assessoriaTorrellesApp.notification.title">Title</span> <span class="glyphicon glyphicon-sort"></span></th>
                                    <th jh-sort-by="content"><span data-translate="assessoriaTorrellesApp.notification.content">Content</span> <span class="glyphicon glyphicon-sort"></span></th>
                                    <th jh-sort-by="date"><span data-translate="assessoriaTorrellesApp.notification.date">Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="notification in vm.notifications track by $index">
                                    <td><input type="checkbox" ng-model="notification.selected" ng-change="optionToggled()"></td>
                                    <td class="mailbox-name"><a ui-sref="notification-detail({id:notification.id})">{{notification.title}}</a></td>
                                    <td class="mailbox-subject">
                                        <div ng-if="!notification.seen">
                                            <b>{{notification.content}}</b>
                                        </div>
                                        <div ng-if="notification.seen">
                                            {{notification.content}}
                                        </div>
                                    </td>
                                    <td class="mailbox-attachment"></td>
                                    <td class="mailbox-date">{{notification.date | date:'medium'}}</td>
                                </tr>
                                </tbody>
                            </table>
                            <!-- /.table -->
                        </div>
                        <!-- /.mail-box-messages -->
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer no-padding">
                        <div class="mailbox-controls">
                            <!-- Check all button -->
                            <button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i>
                            </button>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
                                <button type="button" class="btn btn-default btn-sm"><i class="fa fa-reply"></i></button>
                                <button type="button" class="btn btn-default btn-sm"><i class="fa fa-share"></i></button>
                            </div>
                            <!-- /.btn-group -->
                            <button type="button" class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
                            <div class="pull-right">
                                1-50/200
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i></button>
                                    <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i></button>
                                </div>
                                <!-- /.btn-group -->
                            </div>
                            <!-- /.pull-right -->
                        </div>
                    </div>
                </div>
                <!-- /. box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<div>
    <!--<h2 data-translaassessoriaTorrellesAppsApp.notification.home.title">Notifications</h2>
<jhi-alert></jhi-alert>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-4 no-padding-left">
            <button class="btn btn-primary" ui-sref="notification.new" >
                <span class="glyphicon glyphicon-plus"></span>
                <span  data-translaassessoriaTorrellesAppsApp.notification.home.createLabel">
                    Create new Notification
                </span>
            </button>
        </div>
    </div>
</div>
<br/>
<div class="table-responsive">
    <table class="jh-table table table-striped">
        <thead>
            <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="title"><span data-translaassessoriaTorrellesAppsApp.notification.title">Title</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="content"><span data-translaassessoriaTorrellesAppsApp.notification.content">Content</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="seen"><span data-translaassessoriaTorrellesAppsApp.notification.seen">Seen</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="date"><span data-translaassessoriaTorrellesAppsApp.notification.date">Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="user.loggin"><span data-translaassessoriaTorrellesAppsApp.notification.user">User</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="notification in vm.notifications track by notification.id">
                <td><a ui-sref="notification-detail({id:notification.id})">{{notification.id}}</a></td>
                <td>{{notification.title}}</td>
                <td>{{notification.content}}</td>
                <td>{{notification.seen}}</td>
                <td>{{notification.date | date:'medium'}}</td>
                <td>
                    {{notification.user.loggin}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                ui-sref="notification-detail({id:notification.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                        </button>
                        <button type="submit"
                                ui-sref="notification.edit({id:notification.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                        </button>
                        <button type="submit"
                                ui-sref="notification.delete({id:notification.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                            <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="text-center">
    <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
</div>-->
</div>
