<!-- begin:header -->
<div id="header" class="heading" style="background-image: url(../../../content/img/img01.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-12">
                <div class="quick-search">
                    <div class="row">
                        <form role="form">
                            <div class="col-md-3 col-sm-3 col-xs-6">
                                <div class="form-group">
                                    <label for="bedroom" data-translate="global.header.search.keyword.title"></label>
                                    <input type="text" class="form-control" placeholder="{{ 'global.header.search.keyword.input' | translate }}">
                                </div>
                                <div class="form-group">
                                    <label for="bedroom" data-translate="global.header.search.bedroom.title"></label>
                                    <select class="form-control">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                    </select>
                                </div>
                            </div>
                            <!-- break -->
                            <div class="col-md-3 col-sm-3 col-xs-6">
                                <div class="form-group">
                                    <label for="status" data-translate="global.header.search.status.title"></label>
                                    <select class="form-control">
                                        <option data-translate="global.header.search.status.option.sale"></option>
                                        <option data-translate="global.header.search.status.option.rent"></option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="bathroom" data-translate="global.header.search.bathroom.title"></label>
                                    <select class="form-control">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                    </select>
                                </div>
                            </div>
                            <!-- break -->
                            <div class="col-md-3 col-sm-3 col-xs-6">
                                <div class="form-group">
                                    <label for="type" data-translate="global.header.search.type.title"></label>
                                    <select class="form-control">
                                        <option data-translate="global.header.search.type.option.villa"></option>
                                        <option data-translate="global.header.search.type.option.residence"></option>
                                        <option data-translate="global.header.search.type.option.commercial"></option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="minprice" data-translate="global.header.search.minprice.title"></label>
                                    <select class="form-control">
                                        <option>4,200€</option>
                                        <option>6,700€</option>
                                        <option>8,150€</option>
                                        <option>11,110€</option>
                                    </select>
                                </div>
                            </div>
                            <!-- break -->
                            <div class="col-md-3 col-sm-3 col-xs-6">
                                <div class="form-group">
                                    <label for="maxprice" data-translate="global.header.search.maxprice.title"></label>
                                    <select class="form-control">
                                        <option>8,200€</option>
                                        <option>11,700€</option>
                                        <option>14,150€</option>
                                        <option>21,110€</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="maxprice">&nbsp;</label>
                                    <input type="submit" name="submit" value="{{ 'global.header.search.search' | translate }}" class="btn btn-success btn-block">
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
                <div ncy-breadcrumb></div>
            </div>
        </div>
    </div>
</div>
<!-- end:header -->
