
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myRequestLabel" data-translate="assessoriaTorrellesApp.request.home.createOrEditLabel">Create or edit a Request</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.request.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.request.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="assessoriaTorrellesApp.request.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.request.name"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="assessoriaTorrellesApp.request.phone" for="field_phone">Phone</label>
            <input type="text" class="form-control" name="phone" id="field_phone"
                    ng-model="vm.request.phone"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="assessoriaTorrellesApp.request.email" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                    ng-model="vm.request.email"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="assessoriaTorrellesApp.request.state" for="field_state">State</label>
            <select class="form-control" name="state" ng-model="vm.request.state" id="field_state">
                <option value="open" data-translate="assessoriaTorrellesApp.Status.open">open</option>
                <option value="pending" data-translate="assessoriaTorrellesApp.Status.pending">pending</option>
                <option value="closed" data-translate="assessoriaTorrellesApp.Status.closed">closed</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="assessoriaTorrellesApp.request.date" for="field_date">Date</label>
                <div class="input-group">
                    <input id="field_date" type="text" class="form-control" name="date" datetime-picker="{{dateformat}}" ng-model="vm.request.date" is-open="vm.datePickerOpenStatus.date"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('date')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="assessoriaTorrellesApp.request.comment" for="field_comment">Comment</label>
                <textarea class="form-control" name="comment" id="field_comment"
                    ng-model="vm.request.comment"  ></textarea>
        </div>

        <div class="form-group">
            <label data-translate="assessoriaTorrellesApp.request.property" for="field_property">Property</label>
            <select class="form-control" id="field_property" name="property" ng-model="vm.request.property" ng-options="property as property.ref for property in vm.properties track by property.id" required>
                <option value=""></option>
            </select>
        </div>
        <div ng-show="editForm.property.$invalid">
            <p class="help-block"
                ng-show="editForm.property.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
