<script src="content/js/script.js"></script>
<div ng-include="'app/layouts/header/header.categories.html'"></div>
<div id="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="blog-container">
                    <div class="blog-content">

                        <ng-map id="map" center="41.3579495,1.9810097" zoom="16">
                            <marker position="[41.3579495, 1.9810097]" title="hello"></marker>
                        </ng-map>
                        <div class="blog-title">
                            <h2 data-translate="contact.title1"></h2>
                            <h3 data-translate="contact.title2"></h3>
                        </div>
                        <div class="blog-text contact">
                            <div class="row">
                                <jhi-alert></jhi-alert>
                                <div class="col-md-8 col-sm-7">
                                    <form name="form" role="form" ng-submit="vm.sendEmail()">
                                        <div class="form-group">
                                            <label for="name" class="sr-only">Name</label>
                                            <input type="text" class="form-control" placeholder="{{ 'contact.inputs.name' | translate }}" ng-model="vm.formData.name">
                                        </div>
                                        <div class="form-group">
                                            <label for="email" class="sr-only">Email</label>
                                            <input type="email" class="form-control" placeholder="{{ 'contact.inputs.mail' | translate }}" ng-model="vm.formData.mail">
                                        </div>
                                        <div class="form-group">
                                            <label for="subject" class="sr-only">Subject</label>
                                            <input type="text" class="form-control" placeholder="{{ 'contact.inputs.subject' | translate }}" ng-model="vm.formData.subject">
                                        </div>
                                        <div class="form-group">
                                            <label for="name" class="sr-only">Message</label>
                                            <textarea class="form-control" rows="5" placeholder="{{ 'contact.inputs.message' | translate }}" ng-model="vm.formData.message"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" name="submit" class="btn btn-success" data-translate="contact.button"><i class="fa fa-envelope-o"></i></button>
                                        </div>
                                    </form><br>
                                </div>
                                <!--<div class="col-md-4 col-sm-5">
                                    <address>
                                        <strong>{{vm.companyInfo.name}}</strong><br>
                                        {{vm.companyInfo.phone}}<br>
                                        {{vm.companyInfo.email}}<br>
                                        {{vm.companyInfo.cif}}
                                    </address>
                                    </div>
                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
